<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="test01">
  <!-- 组件化开发步骤3、使用组件 需要在vue挂载的元素中使用 -->
  <my_comp></my_comp>
  <my_comp></my_comp>
  <my_comp></my_comp>
</div>

<!-- 无效
  <div>
    <my_comp></my_comp>
  </div>
-->

<script type="text/javascript" src="../../static/vue/vue.js"></script>
<script type="text/javascript">

  //组件化开发步骤1、创建组件构造器对象
  const comp = Vue.extend({
    //``为ES6语法，字符串的新形式，可直接换行
    template: `
      <div>
        <h2>我是标题</h2>
        <p>我是内容：哈哈哈哈哈哈</p>
        <p>我是内容：呵呵呵呵呵呵</p>
      </div>
    `
  });

  //组件化开发步骤2、注册组件
  // Vue.component(参数1，参数2) 参数1：定义组件名称  参数2：组件对象
  Vue.component('my_comp',comp);

  const vue1 = new Vue({
    el: '#test01',
    data: {

    },
    methods: {

    }
  });

</script>

</body>
</html>