<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .showRed{
      color: red;
    }
  </style>
</head>
<body>

<div id="test01">
  <ul>
    <li v-for="item,index in movies" :class="{showRed: currentIndex === index}" @click="liClick(index)">{{item}}</li>
  </ul>
</div>

<script type="text/javascript" src="../../static/vue/vue.js"></script>
<script type="text/javascript">

  const vue1 = new Vue({
    el: '#test01',
    data: {
      movies: ['海贼王','火影忍者','龙珠','钢之炼金术师'],
      currentIndex: 0
    },
    methods: {
      liClick: function (index) {
        this.currentIndex = index
      }
    }
  });

</script>

</body>
</html>